/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
  }
  
  #tweakpane-container {
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tp-dfwv { 
    width: 100%;
  }
   */
